<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!--    <add key="BROWSER_TYPE" value="EDGE" /> -->
		<add key="LOG_IN_ID" value="" />
		<add key="LOG_IN_PW" value="" />
		<!-- 
	<add key="LOG_IN_SSO_ID" value="" />
    <add key="LOG_IN_SSO_PW" value="" />
    <add key="CONNECT_ID" value="eifsvc01" />
    <add key="CONNECT_PW" value="q1w2e3r4t5!@" />
    <add key="DISABLE_POPUP" value="TRUE" />
    <add key="AUTO_VALIDATION" value="TRUE" />
    <add key="AFTER_DELETE_MAIL" value="TRUE" />
    <add key="ONLY_LOGIN" value="FALSE" />
    <add key="GET_ALL_CONNECT_LIST" value="FALSE" />
    <add key="AUTO_LOGINCLICK" value="FALSE" />
    <add key="QUICK_SEARCH" value="FALSE" /> -->
	</appSettings>
</configuration>